@import "components/_open-sans.scss";

@font-face {
  font-family: Merriweather;
  src: url(../fonts/merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  font-family: Open Sans, Arial sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1230px;
  margin: 0 auto;
}


header {
  background: url(../img/header-image.jpg) no-repeat center / cover;
  width: 100%;
  height: 952px;
  position: relative;



  .logo {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-left: 30px;

    a {
      font-family: Merriweather;
      font-size: 20.8px;
      text-decoration: none;
      color: #fff;
      margin-left: 8px;

      &:hover {
        color: #0000ff;
      }
    }
  }

  .picture-perfect {
    margin-left: 30px;

    h1 {
      font-size: 60px;
      font-weight: 300;
      color: #fff;
      margin: 0;
      margin-top: 350px;
    }

    p {
      font-size: 13px;
      color: #fff;
      margin: 0;
      margin-top: 10px;
    }
  }

  .iphone {
    width: 716px;
    height: 948px;
    transform: translate(500px, -300px);


  }

  .perfect-takpapp {
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;

    .perfect {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.6;
      color: #fff;
      text-transform: uppercase;
    }

    .takpapp {
      margin-left: 8px;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #0000ff;
      }
    }
  }
}

section {

  .start-lorem-nemo {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .start-lorem {
      width: 570px;

      h2 {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 30px;
        margin-top: 110px;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #959595;
      }
    }

    .nemo {
      width: 570px;
      margin-bottom: 50px;

      span {
        font-size: 14px;
        font-weight: 400;
        color: #959595;
      }
    }
  }
}

.section-two {

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 85px;

    .design {
      width: 400px;
      height: 278px;
      background-color: #f5989d;

      h3 {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-left: 42px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-left: 42px;
        width: 302px;
      }

      .find-out {
        margin-left: 37px;
        margin-top: 30px;

        a {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #66a3ff;
          }
        }

        i {
          margin-left: 10px;
        }
      }
    }

    .built {
      width: 400px;
      height: 278px;
      background-color: #615f7d;

      h3 {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-left: 42px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-left: 42px;
        width: 302px;
      }

      .find-out {
        margin-left: 37px;
        margin-top: 30px;

        a {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #66a3ff;
          }
        }

        i {
          margin-left: 10px;
        }
      }
    }

    .clients {
      width: 400px;
      height: 278px;
      background: url(../img/layer_6.jpg) center;

      h3 {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-left: 42px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-left: 42px;
        width: 302px;
      }

      .find-out {
        margin-left: 37px;
        margin-top: 30px;

        a {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #66a3ff;
          }
        }

        i {
          margin-left: 10px;
        }
      }

      .fa-heart-o {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        color: #fff;
        cursor: pointer;

        &:active {
          color: red;
        }
      }
    }

    .sign {
      width: 800px;
      height: 278px;
      background: url(../img/layer_5.jpg) center;

      h3 {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-left: 42px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-left: 42px;
        width: 302px;
      }

      .find-out {
        margin-left: 37px;
        margin-top: 30px;

        a {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #66a3ff;
          }
        }

        i {
          margin-left: 10px;
        }
      }

      .fa-heart-o {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        color: #fff;
        cursor: pointer;

        &:active {
          color: red;
        }
      }
    }

    .green {
      width: 400px;
      height: 278px;
      background-color: #82ca9c;

      h3 {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-left: 42px;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin-left: 42px;
        width: 302px;
      }

      .find-out {
        margin-left: 37px;
        margin-top: 30px;

        a {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0 auto;
          text-decoration: none;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #66a3ff;
          }
        }

        i {
          margin-left: 10px;
        }
      }
    }
  }
}

.section-three {
  position: relative;

  .look-details {
    margin-left: 30px;
    margin-right: 30px;

    h4 {
      margin: 0;
      padding-top: 90px;
      font-size: 35px;
      font-weight: 300;
    }

    .details {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;

      span {
        font-size: 13px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: #959595;
        width: 270px;
        line-height: 1.65;
      }
    }
  }

  a {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-90deg);
    top: 30%;
    margin-left: 20px;

    &:hover {
      color: #0000ff;
    }
  }
}

.section-four {
  margin-top: 100px;
  height: 870px;
  background: url(../img/layer_8.jpg) no-repeat center / cover;

  .more-power {
    margin-left: 30px;

    h5 {
      margin: 0;
      padding-top: 450px;
      font-size: 60px;
      font-weight: 300;
      color: #fff;
    }

    p {
      margin-top: 40px;
      width: 470px;
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      line-height: 1.70;
    }

    .see-options {
      margin-top: 25px;
      margin-left: -5px;

      a {
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        text-decoration: none;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid red;
        }
      }

      i {
        margin-left: 10px;
      }
    }
  }
}

.section-five {
  background-color: #82ca9c;
  height: 535px;
  position: relative;

  .reasons {
    margin-left: 30px;
    margin-right: 30px;

    h6 {
      margin: 0;
      padding-top: 120px;
      font-size: 35px;
      font-weight: 300;
      color: #fff;
    }

    .about-reasons {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      span {
        font-size: 13px;
        font-weight: 600;
        color: #fff;
      }

      p {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        width: 370px;
        line-height: 1.65;
      }
    }
  }

  a {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-90deg);
    top: 30%;
    margin-left: 20px;

    &:hover {
      color: #0000ff;
    }
  }
}

.section-six {
  background-color: #f6f7fa;
  height: 630px;
  position: relative;

  .tackpapp-com {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(-90deg);
    top: 30%;
    margin-left: 20px;

    &:hover {
      color: #0000ff;
    }
  }

}

.go-team {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.solo-plan {
  width: 570px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.solo-plan_on-click {
  background-color: #fff;
  box-shadow: 1px 1px 10px grey;

  .legacy-most-popular {

    span {
      background-color: #bd8cbf;
    }
  }

  .buy-now {

    a:hover {
      background-color: #3d8f5b;
    }
  }

  .sotial {

    a:hover {
      color: #82ca9c;
    }
  }
}

.legacy-most-popular {
  margin-left: 53px;
  margin-top: 48px;

  span {
    font-size: 11px;
    font-weight: 800;
    padding: 8px 18px 8px 18px;
    background-color: #e1e1e1;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
  }
}

.solo {
  margin-top: 24px;
  margin-left: 53px;

  span {
    font-size: 30px;
    font-weight: 300;
    color: #2e3b4e;
    margin-top: 24px;
  }

  p {
    margin: 0;
    margin-top: 15px;
    width: 410px;
    font-size: 14px;
    font-weight: 400;
    color: #8297a7;
  }
}

.buy-now {
  margin-top: 35px;
  margin-left: 53px;

  a {
    background-color: #82ca9c;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.sotial {
  margin-top: 35px;
  margin-left: 53px;
  padding-bottom: 54px;

  a {
    margin-left: 10px;
    color: #c5c5c5;
  }
}

footer {
  background-color: #192431;
  height: 607px;
  color: #f6f7fa;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 120px;
}

.information {
  width: 570px;
}

.title-info {
  font-size: 13px;
  font-weight: 600;
}

.get-touch_lorem {

  p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.70;
  }
}

.re_fe_no {
  display: flex;
  align-items: flex-end;
}

.info_link {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 120px;
  margin-right: 50px;

  span {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  a {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #f6f7fa;

    &:hover {
      color: #0066ff;
    }
  }
}

.information-input {
  width: 470px;
}

.email-form {
  display: flex;
  margin-top: 20px;

  .email-form_input {
    width: 400px;
    height: 55px;
    outline: none;
    font-size: 25px;
    text-indent: 10px;
  }

  .email-form_submit {
    width: 70px;
    height: 55px;
    background-color: #82ca9c;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #3d8f5b;
    }

    .fa-check {
      color: #fff;
      font-size: 35px;
    }
  }
}

.input-info {
  font-size: 12px;
  font-weight: 400;
  color: #57697f;
  line-height: 1.5;
}
