@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  font-family: Open Sans, Arial sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: url(../img/header-image.jpg) no-repeat center/cover;
  width: 100%;
  height: 952px;
  position: relative;
}

header .container {
  width: 1230px;
  margin: 0 auto;
}

header .container .logo {
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-left: 30px;
}

header .container .logo a {
  font-family: Merriweather;
  font-size: 20.8px;
  text-decoration: none;
  color: #fff;
  margin-left: 8px;
}

header .container .logo a:hover {
  color: red;
}

header .container .picture-perfect {
  margin-left: 30px;
}

header .container .picture-perfect h1 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  margin-top: 350px;
}

header .container .picture-perfect p {
  font-size: 13px;
  color: #fff;
  margin: 0;
  margin-top: 10px;
}

header .container .iphone {
  width: 716px;
  height: 948px;
  transform: translate(500px, -300px);
}

header .perfect-takpapp {
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
}

header .perfect-takpapp .perfect {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.6;
  color: #fff;
  text-transform: uppercase;
}

header .perfect-takpapp .takpapp {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

section .container {
  width: 1230px;
  margin: 0 auto;
}

section .container .start-lorem-nemo {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

section .container .start-lorem-nemo .start-lorem {
  width: 570px;
}

section .container .start-lorem-nemo .start-lorem h2 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 110px;
}

section .container .start-lorem-nemo .start-lorem span {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
}

section .container .start-lorem-nemo .nemo {
  width: 570px;
  margin-bottom: 50px;
}

section .container .start-lorem-nemo .nemo span {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
}

.section-two .container {
  width: 1230px;
  margin: 0 auto;
}

.section-two .container .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 85px;
}

.section-two .container .portfolio .design {
  width: 400px;
  height: 278px;
  background-color: #f5989d;
}

.section-two .container .portfolio .design h3 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 42px;
}

.section-two .container .portfolio .design p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 42px;
  width: 302px;
}

.section-two .container .portfolio .design .find-out {
  margin-left: 37px;
  margin-top: 30px;
}

.section-two .container .portfolio .design .find-out a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.section-two .container .portfolio .design .find-out a:hover {
  border: 1px solid red;
}

.section-two .container .portfolio .design .find-out i {
  margin-left: 10px;
}

.section-two .container .portfolio .built {
  width: 400px;
  height: 278px;
  background-color: #615f7d;
}

.section-two .container .portfolio .built h3 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 42px;
}

.section-two .container .portfolio .built p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 42px;
  width: 302px;
}

.section-two .container .portfolio .built .find-out {
  margin-left: 37px;
  margin-top: 30px;
}

.section-two .container .portfolio .built .find-out a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.section-two .container .portfolio .built .find-out a:hover {
  border: 1px solid red;
}

.section-two .container .portfolio .built .find-out i {
  margin-left: 10px;
}

.section-two .container .portfolio .clients {
  width: 400px;
  height: 278px;
  background: url(../img/layer_6.jpg) center;
}

.section-two .container .portfolio .clients h3 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 42px;
}

.section-two .container .portfolio .clients p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 42px;
  width: 302px;
}

.section-two .container .portfolio .clients .find-out {
  margin-left: 37px;
  margin-top: 30px;
}

.section-two .container .portfolio .clients .find-out a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.section-two .container .portfolio .clients .find-out a:hover {
  border: 1px solid red;
}

.section-two .container .portfolio .clients .find-out i {
  margin-left: 10px;
}

.section-two .container .portfolio .sign {
  width: 800px;
  height: 278px;
  background: url(../img/layer_5.jpg) center;
}

.section-two .container .portfolio .sign h3 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 42px;
}

.section-two .container .portfolio .sign p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 42px;
  width: 302px;
}

.section-two .container .portfolio .sign .find-out {
  margin-left: 37px;
  margin-top: 30px;
}

.section-two .container .portfolio .sign .find-out a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.section-two .container .portfolio .sign .find-out a:hover {
  border: 1px solid red;
}

.section-two .container .portfolio .sign .find-out i {
  margin-left: 10px;
}

.section-two .container .portfolio .green {
  width: 400px;
  height: 278px;
  background-color: #82ca9c;
}

.section-two .container .portfolio .green h3 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 42px;
}

.section-two .container .portfolio .green p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 42px;
  width: 302px;
}

.section-two .container .portfolio .green .find-out {
  margin-left: 37px;
  margin-top: 30px;
}

.section-two .container .portfolio .green .find-out a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.section-two .container .portfolio .green .find-out a:hover {
  border: 1px solid red;
}

.section-two .container .portfolio .green .find-out i {
  margin-left: 10px;
}
