@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  font-family: Open Sans, Arial sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: url(../img/header-image.jpg) no-repeat center/cover;
  width: 100%;
  height: auto;
}

header .container {
  width: 1230px;
  margin: 0 auto;
}

header .container .logo {
  display: flex;
  align-items: center;
  margin-top: 56px;
  margin-left: 30px;
}

header .container .logo a {
  font-family: Merriweather;
  font-size: 20.8px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

header .container .logo a:hover {
  color: red;
}

header .container .picture-perfect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 330px;
  margin-left: 30px;
}

header .container .picture-perfect h1 {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

header .container .picture-perfect p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
